body{
    color: #fff;
    background-image: url(../Pictures/R_P_S.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: system-ui;
    font-weight: 800;
}
img{
    width: 80px;
    height: 80px;
    transition: 0.5s;
}
#paper{
    margin:0 15px;

}
.container{
    width: 80%;
    height: 36rem;
    text-align: center;
    background-color: #ffffff21;
    border-radius: 82px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow:
    1px 1px 5px #000,
   -1px -1px 5px #000;
}
.ComputerContainer{
    position: relative;
    top: 13px;
}
.YourContainer{
    position: relative;
    top: 3rem;
    z-index: 7;
}
#opponent-choice{
    width: 80px;
    height: 80px;
    border: 3px dashed #ccc; 
    border-radius: 12px;    
    background-color: #ffffff21; 
    object-fit: contain;  
    opacity: 0.3;   
    transition: 0.5s;
}
#your-choice{
    position: relative;
    bottom: 25px;
    width: 80px;
    height: 80px;
    border: 3px dashed #ccc;
    border-radius: 12px; 
    background-color: #ffffff21; 
    object-fit: contain;   
    opacity: 0.3;    
    transition: 0.5s;

}

img:not(.noimg):hover {
    filter: drop-shadow(0px 0px 10px #dfdfdf);
    transform: scale(1.2);
    cursor: pointer;
}

.Bt{
    all: unset;
    font-weight: 500;
    border-radius: 28px;
    padding: 12px;
    background-color: rgb(0 0 0);
    box-shadow: 0 0 4px  #ffffff , 0 0 8px inset #ffffff;
    transition: 0.5s;

}
.Bt:hover{
    box-shadow: 0 0 9px  #ffffff , 0 0 8px inset #ffffff;
    cursor: pointer;


}
#winner{
    width: 25rem;
    height: 10rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0 0 0 / 38%);
    font-size: 42px;
    border-radius: 75px;
    box-shadow: 0 0 9px #ffffff, 0 0 8px inset #ffffff;
    opacity: 0;
    transition: 0.5s;
}
#txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    white-space: nowrap;
    text-shadow:
    1px 1px 5px #000,
   -1px -1px 5px #000;
}
@media (max-width : 400px) {
    .container{
        font-size: 14px;
    }

}
footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    font-size: 11px;
    font-weight: 500;
}
